.vencedores-box {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  background-color: #f9f9f9;
  max-width: 300px;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; 
}